---
const PAGE_TITLE = "Home Page";
---

<html lang="fr-ch">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{PAGE_TITLE}</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>{PAGE_TITLE}</h1>
	</body>
</html>
